body { color: white; background-color: orchid; }
  h1 {color: green; font-family: Verdana; text-transform: uppercase; padding-left: 150px; padding-top: 30px; background-color: #FFFFFF;
      opacity: 10;
      font-size: 4em;
      padding: 10px;
    border: 10px ridge #333; 
 border-radius: 20px; }
  h2 { font-family: Arial; }
  li {color: purple; }
  p {color: red; margin:60px; }
